@model ST10398576_Disaster_Alleviation_Foundation.Models.Project

<h2>Project Details</h2>

<div class="card">
    <div class="card-body">
        <strong>Name:</strong> @Model.ProjectName <br />
        <strong>Description:</strong> @Model.ProjectDescription <br />
        <strong>Start:</strong> @(Model.StartDate.HasValue? Model.StartDate.Value.ToShortDateString() : "N/A")<br />
        <strong>End:</strong> @(Model.EndDate.HasValue? Model.EndDate.Value.ToShortDateString() : "N/A") <br />
        <strong>Status:</strong> @Model.ProjectStatus
    </div>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.ProjectID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</p>
