@model ST10398576_Disaster_Alleviation_Foundation.Models.Project

<h2>Project Details</h2>

<div>
    <strong>Name:</strong> @Model.ProjectName <br />
    <strong>Description:</strong> @Model.Description <br />
    <strong>Start:</strong> @Model.StartDate.ToShortDateString() <br />
    <strong>End:</strong> @Model.EndDate?.ToShortDateString() <br />
    <strong>Status:</strong> @Model.Status
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.ProjectID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</p>
