@model ST10398576_Disaster_Alleviation_Foundation.Models.ResourceDonation

<h2>Donation Details</h2>

<div>
    <strong>Type:</strong> @Model.ResourceDonationType <br />
    <strong>Amount:</strong> @Model.ResourceDonationAmount <br />
    <strong>Description:</strong> @Model.ResourceItemDescription <br />
    <strong>Date:</strong> @Model.ResourceDonationDate
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.ResourceDonationID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</p>
